<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>

<div class="container">
    <h2>Вход</h2>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="errors">
          {% for msg in messages %}
            <li>{{ msg }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form method="post" style="width: 100%; display: flex; flex-direction: column; align-items: center;">
        <input name="login" placeholder="Логин" required>
        <input name="password" type="password" placeholder="Пароль" required>
        <button>Войти</button>
        <a href="{{ url_for('auth.forgot_password') }}">Забыли пароль?</a>
    </form>
    <a href="{{ url_for('auth.register') }}">Регистрация</a>
</div>

</body>
</html>
